.button {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-family: 'Montserrat', Arial;
    height: 45px;
    padding: 0 20px 0 20px;
    font-size: 13px;
    font-weight: 500;
}

.margin-left {
    margin-left: 15px;
}

.red-button {
    margin: 30px 10px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 5px 11px rgba(0, 0, 0, 0.25);
    color: white;
    background: -moz-linear-gradient(245deg, #FF543E 0%, #C7141A 100%);
    background: -webkit-linear-gradient(245deg, #FF543E 0%, #C7141A 100%);
    background: linear-gradient(245deg, #FF543E 0%, #C7141A 100%);
}

.white-button {
    border-radius: 4px;
    box-shadow: 0px 5px 11px rgba(255, 255, 255, 0.5);
    color: black;
    font-size: 13px;
    background: white;
}

.yellow-button {
    border-radius: 4px;
    box-shadow: 0px 5px 11px rgba(255, 210, 0, 0.5);
    color: black;
    font-size: 13px;
    background: #ffd200;
}

.transp-button {
    border: 1px solid black;
    border-radius: 4px;
    background: white;
    margin: 15px;
}

.jp-button {
    background: #094049;
    box-shadow: 0px 5px 11px rgba(9, 64, 73, 0.5);
    border-radius: 4px;
    color: white;
}



/* Бренд-бейджи */

.badge {
    display: inline-flex;
    padding: 10px 15px 10px 15px;
    margin: 10px 10px 10px 0px;
}

.red-badge {
    border: 1px solid #C7141A;
    border-radius: 4px;
}

.yellow_badge {
    display: inline-flex;
    text-align: center;
    border: 1px solid #FFD200;
    border-radius: 4px;
}

.pj_badge {
    width: 15%;
    margin: 60px 0 40px 60px;
    border: 1px solid #094049;
    border-radius: 4px;
    text-align: center;
}

.red-arrow {
    width: 33px;
    height: 8px;
    margin-left: 6px;
    background: url(../img/icons/red-arr.svg);
}

