


h1 {
    font-family: "Montserrat", serif;
    font-size: 40px;
    font-weight: 800;
    line-height: 1.2;
}

h2 {
    font-family: "Montserrat", serif;
    font-size: 36px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1.2;
}

h3 {
    font-family: "Montserrat", serif;
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1.2;
}
h4 {
    font-family: "Montserrat", serif;
    font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
}

h5 {
    font-family: "Montserrat", serif;
    font-size: 12px;
}

h6 {
    font-family: "Montserrat", serif;
    font-size: 10px;
}

p {
    line-height: 1.8;
}

.zk-product p {
    margin: 30px 10px 30px 10px;
}

.jp-title {
    margin: 20px;
    color: #094049;
}

.wlb-title {
    margin: 20px 0 20px 0;
}
