/* Валидация */ 

input:valid {
    border: green 3px solid;
    box-shadow: none;
}

input:invalid {
    border: red 3px solid;
    color: red;
    box-shadow: none;
}

input:focus:valid {
    border: green 3px solid;
    color: green;
    box-shadow: none;
}

input:focus:invalid {
    border: red 3px solid;
    color: red;
    box-shadow: none;
}

input:focus:required:valid {
    border: green 3px solid;
    color: green;
    box-shadow: none;
}

input:focus:required:invalid {
    border: red 3px solid;
    color: red;
    box-shadow: none;
}

/* конец валидации */

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; 
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}

input[type=text], input[type=tel], [type=password], input[type=date], input[type=number], input[type=email] {
    border: solid;
    font-family: "Montserrat", arial;
    line-height: 30px;
    padding: 10px;
    margin: 10px 0;
    margin-right: 10px;
    border-radius: 6px;
}

.inputfullwidth {
    width: 93%;
}

select {
    border: 1px solid;
    font-family: "Montserrat", arial;
    line-height: 30px;
    padding: 10px;
    margin: 10px 0;
    border-radius: 6px;
    height: 55px;
    width: 100%;
}


input[type=checkbox] {
    display: inline-flex;
    align-items: center;
    align-content: center;
    background-position: center center;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    border-color: #fff;
    width: 1.8em;
    height: 1.8em;
    margin: 10px 10px 10px 0;
}

input[type=checkbox]::before {
    content: '';
    display: inline-flex;
    align-items: center;
    align-content: center;
    width: 1.8em;
    height: 1.8em;
    flex-shrink: 0;
    flex-grow: 0;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-position: center center;
    background-size: 50% 50%;
    background-repeat: no-repeat;
}

input[type=checkbox]:checked::before {
    border-color: #0b76ef;
    background-color: #0b76ef;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

input[type=checkbox]:not(:disabled):not(:checked):hover::before {
    border-color: #b3d7ff;
}

input[type=checkbox]:not(:disabled):active::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
}

input[type=checkbox]:focus::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

input[type=checkbox]:focus:not(:checked)::before {
    border-color: #80bdff;
}

input[type=checkbox]:disabled::before {
    background-color: #e9ecef;
}

.frm-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: left;
}

.forminline {
    display: flex;
    flex-direction: row;
}
