.telnumber {
    background: url('../img/icons/phone.svg');
    background-repeat: no-repeat;
    padding-left: 20px;
}

.mail-icon {
    background: url('../img/icons/mail.svg');
    background-repeat: no-repeat;
    padding-left: 20px;
    margin-left: 20px;
}

.logo {
    width: 50px;
    height: 50px;
    background: -moz-linear-gradient(245deg, #FF543E 0%, #C7141A 100%);
    background: -webkit-linear-gradient(245deg, #FF543E 0%, #C7141A 100%);
    background: linear-gradient(245deg, #FF543E 0%, #C7141A 100%);
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/logo.svg);
    font-size: 36px;
    font-weight: 900;
    border-radius: 4px;
}

.logo a {
    width: 50px;
    height: 50px;
    display: block;
}

.icon-smile {
    background: url(../img/icons/icon-smile.svg) no-repeat;
    position: relative;
    width: 20px;
    height: 20px;
    padding-right: 20px;
}

.icon-progress {
    background: url(../img/icons/icon-progress.svg) no-repeat;
    position: relative;
    width: 20px;
    height: 20px;
    padding-right: 20px;
}

.icon-user {
    background: url(../img/icons/icon-user.svg) no-repeat;
    position: relative;
    width: 20px;
    height: 20px;
    padding-right: 20px;
}

.yt-white{
    background: url(../img/icons/yt-white-icon.svg) no-repeat;
    position: relative;
    width: 20px;
    height: 20px;
    margin: 5px 5px 0 0;
}


.login-icon::before {
    width: 16px;
    height: 16px;
    content: url('../img/icons/login.svg');
    margin: 5px 5px 0 0;
}

.login-icon {
    line-height: 15px;
}

.big-icon {
    width: 50px;
    height: 50px;
    margin-left: 10px;
}

.start {
    background: url(../img/icons/big_start.svg);
    background-repeat: no-repeat;
    
}

.process {
    background: url(../img/icons/big_process.svg);
    background-repeat: no-repeat;

}

.finish {
    background: url(../img/icons/big_finish.svg);
    background-repeat: no-repeat;
}

.money-icon {
    background: url(../img/icons/money-icon.svg) no-repeat;
    width: 70px;
    height: 70px;
    padding: 10px;
}

.dchecked-icon {
    background: url(../img/icons/dchecked.svg) no-repeat;
    width: 70px;
    height: 70px;
    padding: 10px;
}

.distant-icon {
    background: url(../img/icons/distant.svg) no-repeat;
    width: 70px;
    height: 70px;
    padding: 10px;
}

.support-icon {
    background: url(../img/icons/support.svg) no-repeat;
    width: 70px;
    height: 70px;
    padding: 10px;
}

.legal-icon {
    background: url(../img/icons/legal.svg) no-repeat;
    width: 70px;
    height: 70px;
    padding: 10px;
}

.deposit-icon {
    background: url(../img/icons/deposit.svg) no-repeat;
    width: 70px;
    height: 70px;
    padding: 10px;
}

.wa {
    background: url(../img/icons/wa.svg);
    background-size: 20px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    margin-right: 10px;
    margin-left: 20px;
}

.vk {
    background: url(../img/icons/vk.svg);
    background-size: 20px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    margin-right: 10px;
}

.tg {
    background: url(../img/icons/tg.svg);
    background-size: 20px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    margin-right: 10px;
}

.inst {
    background: url(../img/icons/inst.svg);
    background-size: 20px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    margin-right: 10px;
}

.yt {
    background: url(../img/icons/yt.svg);
    background-size: 30px;
    width: 30px;
    height: 20px;
    background-repeat: no-repeat;
    margin-right: 10px;
}

.check-ssl {
    background: url(../img/icons/ssl.svg);
    background-size: 140px;
    width: 140px;
    height: 140px;
    background-repeat: no-repeat;
    margin-right: 10px;
}

.check-privacy {
    background: url(../img/icons/privacy.svg);
    background-size: 140px;
    width: 140px;
    height: 140px;
    background-repeat: no-repeat;
    margin-right: 10px;
}

.check-justice {
    background: url(../img/icons/justice.svg);
    background-size: 140px;
    width: 140px;
    height: 140px;
    background-repeat: no-repeat;
    margin-right: 10px;
}

.checklook {
    background: url(../img/icons/checklook.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    padding-right: 5px;
}

.checkget {
    background: url(../img/icons/checkget.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    padding-right: 5px;
}

.checkaccess {
    background: url(../img/icons/checkaccess.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    padding-right: 5px;
}

.okb-logo {
    background: url(../img/icons/okb.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 150px;
    height: 150px;
}

.signup-pic {
    width: 500px;
    height: 600px;
    background-repeat: no-repeat;
    background-image: url(../img/zkman-reg.svg);
    margin: 15px;
}

.signin-pic {
    width: 600px;
    height: 600px;
    background-repeat: no-repeat;
    background-image: url(../img/zkman-signin.svg);
    margin: 15px;
}

.recovery-pic {
    width: 500px;
    height: 500px;
    background-repeat: no-repeat;
    background-image: url(../img/zkman-recovery.svg);
    margin: 15px;
}