@media only screen
and (min-width: 360px)
and (max-width: 767px)
and (orientation: portrait)
{

        body {
            width: 100%;
            font-size: 10px;
            font-family: "Montserrat", serif;
            font-display: swap;
        }
    
        .site-container {
            padding: 0 15px !important;
        }


        h3 {
            display: flex;
            justify-content: center;
            text-align: center;
            font-family: "Montserrat", serif;
            font-display: swap;
            font-size: 18px;
            font-weight: 800;
            width: 100%;
        }
    
        .contacts {
            display: flex;
            align-content: center;
            justify-content: center;
        }
    
        .header ul li, .recovery-pic, .signin-pic, .signup-pic, .rw-line, .okb-logo, .companyname, .footer-line, .rw-line img, .rw-line a, .l-container p, .okb-box-fc p, .red-arrow, .hero-picture, .about-pic, .zk-product:first-child, .landing-menu li, .badge, .jp-badge, .yellow-badge, .wa, .vk, .tg, .inst, .yt, .big-box2-read-more, .transp-button, .footer-logo  {
            display: none;
            visibility: hidden;
            position: absolute;
            opacity: 0;
            z-index: -1000;
        }

        .heroscreen {
            display: flex;
            flex: 1;
            flex-direction: column;
            margin-top: 30px !important;
        
        }
    
        .heroscreen h1 {
            display: flex;
            justify-content: center;
            font-size: 30px !important;
        }
    
        .icon-smile-text {
            padding-left: 5px !important;
            font-size: 13px;
        }
    
        .is {
            padding: 5px;
        }

        .is:last-child {
            display: flex;
            flex-direction: column;
        }

        .fullwidth {
            min-width: 210px;
            max-width: 70%;
        }

        h2 {
            font-size: 27px;
        }

        .button {
            display: flex;
            justify-content: center !important;
            align-content: center !important;
            align-items: center !important;
            font-family: 'Montserrat';
            font-display: swap;
            height: 45px;
            padding: 0px 20px 5px 20px;
            margin: 10px 5px;
            font-size: 13px;
            font-weight: 400;
        }

        .yellow-button {
            font-family: 'Montserrat';
            font-display: swap;
            font-weight: 400;
            border-radius: 4px;
            box-shadow: 0px 5px 11px rgba(255, 210, 0, 0.5);
            color: black;
            font-size: 13px;
            background: #ffd200;
        }

        .big-block {
            display: flex;
            flex-direction: column;
            padding: 10px !important;
            margin: 0px !important;
        }
    
        .big-box {
            display: flex;
            flex-direction: column;
        }
    
        .big-desc {
            font-size: 12px;
            line-height: 1.8;
        }

        .about {
            display: flex;
            flex-direction: column;
            margin: 0 !important;
            width: 100%;
        }

        .form-block { 
            width: 100% !important;
        }

        .frm-info {
            display: flex;
            justify-content: center;
            text-align: center;
        }

        .frmbtn {
            display: flex;
            flex-direction: column;
        }
    
        .about-desc {
            padding: 0 !important;
            margin: 0 !important;
        }
    
        .closecredit {
            display: flex;
            flex-direction: column;
            flex: 1;
        }

        .zk-product {
            background: #ffd200;
            box-shadow: 0px 10px 25px 2px rgba(255, 210, 0, 0.5);
            border-radius: 8px;
            margin: 15px 0 !important;
            padding: 25px 25px !important;
        }

        .zk-product li {
            margin: 0 0 !important;
            padding: 0px 0px !important;
        }

        .zk-list {
            margin: 0px !important;
            line-height: 1.8;
        }


        .zk-product:last-child {
            background: white;
            box-shadow: 0px 10px 25px 2px rgba(0, 0, 0, 0.05);
            border-radius: 8px;
        }
    
        .big-block-dep {
            display: flex;
            flex-direction: column;
        }
    
        .big-box-dep h3 {
            display: flex;
            flex-direction: column;
            
        }
    
        .big-box2 p {
            width: 100%;
            flex-basis: 100%;
        }
    
        .personal-jurist {
            display: flex;
            flex-direction: column !important;
            flex: 1;
            margin-bottom: 0px !important;
        }

        .small-box {
            display: flex;
            flex-direction: column;
            background: white;
            flex: 1;
            box-shadow: 0px 10px 25px 2px rgba(0, 0, 0, 0.1);
            border-radius: 4px;
            padding: 10px !important;
            margin: 10px 0 !important;
        }
    
        .okb {
            display: flex;
            flex-direction: column;
            align-items: center;
            align-content: center;
            padding: 15px;
            margin-top: 50px;
        }
        
        .okb-box-fc {
            display: flex;
        }
        
        .okb-box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            flex: 1;
            background-color: white;
            box-shadow: 0px 10px 25px 2px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            padding: 0px;
        }
        
        .okb-title h3 {
            color: #C7141A
        }
        
        .okb-price {
            font-size: 70px;
            font-weight: 800;
            text-align: center;
            text-transform: uppercase;
            line-height: 1.2;
            margin: 20px 0 20px 0;
        }
    
        .wb-line {
            display: flex;
            flex-direction: column !important;
            flex: 1;
        }
    
        .wlb-box {
            display: flex;
            flex-direction: column;
        }
    
        .rw-buttons {
            display: flex;
            flex-direction: column !important;
        }
    
        .rw-cont {
            padding-top: 10px !important;
        }
    
        .rw-bg {
            height: 300px !important;
            margin: 0;
            padding: 0 !important;
        }
    
        .rw-buttons a {
            margin: 10px;
        }
    
        footer {
            padding-top: 30px;
            margin-top: 20px !important;
        }
    
        .footer h4 {
            margin-bottom: 15px;
        }
    
        .information {
            display: flex;
            flex-direction: column !important;
            padding: 30px 30px 50px 30px !important;
            
        }
    
        .requisites {
            margin-bottom: 30px;
        }
    
        .bank-numbers {
            margin-bottom: 30px;
        }
    
        .materials {
            margin-bottom: 30px;
        }

}

